	html, body
	{
		background: #333333;
		height: 100%;
	}
	
	body {
		margin: 0;
		padding: 0px;
		background: #333333;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		color: #000000;
	}
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	a
	{
		color: #0000FF;
	}
	
	a:hover
	{
		text-decoration: none;
	}

	.container
	{
		margin: 0px auto;
	}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 0em 0em 3em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.50em;
		font-size: 1.5em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
	}

	ul.contact li a:hover:before
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		text-align: center;
		color: rgba(255,255,255,.4);
	}
		
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 2em;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}

	.title h2
	{
		font-size: 2.8em;
		color: rgba(255,255,255,0.9);
	}
	
	.title .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.7em;
		color: #6F6F6F;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		overflow: hidden;
		padding: 5em 0em;
		background: white url(images/header.jpg) no-repeat center;
		background-size: cover;
	}

	#noLogo-header-wrapper {
		overflow: hidden;
		padding: 2em;
		background: black no-repeat center;
		background-size: cover;
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{

	}
	
	#menu ul
	{
		text-align: center;
	}
	
	#menu li
	{
		
		display: inline-block;
	}
	
	#menu li a, #menu li
	{
		display: inline-block;
		margin-left: 0.50em;
		padding: 1em 1.5em;
		letter-spacing: 0.20em;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 600;
		text-transform: uppercase;
		outline: 0.2;
		color: #FFF;
		transition: transform 300ms ease;		
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active
	{
		border-width: 0px;
		border-left-width: 1.5px;
		border-color: cyan;
		color: cyan;
		transform: scale(1.2, 1.2);
		transition: 300ms ease;
	}
	
	#menu .current_page_item a
	{
		color: cyan;
		border-style: solid;
		border-width: 0px;
		border-left-width: 1.5px;
		border-color: cyan;
	}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

	#wrapper1
	{
		background: #dedede;
	}

	#mocha
	{
		z-index: 999;
	}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

	#welcome
	{
		padding: 2em 0em;
		text-align: center;
		color: rgba(0,0,0,0.5);
	}
	
	#welcome .content
	{
		width: 100%;
		padding: 0em 0em;
		margin-left: auto;
		margin-right: auto;
	}

	#welcome .title
	{
		text-align: center;
	}

	#welcome .title h2
	{
		color: rgba(0,0,0,0.8);
	}

	#welcome .title h1 {
		color: rgba(0,0,0,0.8);
	}

	#welcome a,
	#welcome strong
	{
		color: rgba(0,0,0,0.8);
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		z-index: 0;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		text-align: center;
	}
	
	#footer .title span
	{
		color: rgba(255,255,255,0.4);
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(255,255,255,0.08);
		text-align: center;
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: rgba(255,255,255,0.3);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.6);
	}


/*********************************************************************************/
/* Standards                                                                   */
/*********************************************************************************/

	#textSize1 {
		font-size: 15px;
		margin: -5px;
		display: inline-block;
	}

	.smallNumber {
		width: 75px;
		text-align: right;
		border-color: black;
		border-width: 1px;
		background-image: url('/assets/pound-sign.png');
		background-position: 0px 3px;
		background-size: 15%;
		background-repeat: no-repeat;
	}	




/*********************************************************************************/
/* Grid for Home Page                                                            */
/*********************************************************************************/

	.hiddenClickable 
	{
		height: 100%;
		width: 100%;
	}

	.photo-grid
	{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	gap: 1rem;
	background-repeat: no-repeat;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-rows: 240px;
 	}

  	.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 200ms;
    overflow: hidden;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	}
  
	.card:hover
	{
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0em 0.8em, rgba(3, 8, 20, 0.1) 0px 0em 0.8em;
    transform: translateY(-3px) scale(1.05);
	}
  
  /* Medium screens */
	@media screen and (min-width: 1000px)
	{
		.card-tall
		{
		grid-row: span 2 / auto;
		}
	
		.card-wide
		{
		grid-column: span 2 / auto;
		}
	}
  

/*********************************************************************************/
/* Download Button for Venue List                                                */
/*********************************************************************************/

	#download {
		border-radius: 5px;
		background: black;
		border-style: solid;
		border-color: black;
		color: white;
		border-width: 2px;
		width: 10em;
	}

	#download:hover {
		border-color: cyan;	
		transition: 500ms ease;
	}

/*********************************************************************************/
/* Contract Explorer                                                             */
/*********************************************************************************/

	.contractItem
	{
		text-align: justify;
		width: 30em;
		margin-right: auto;
		margin-left: auto;
	}

	.define
	{
		transition: 200ms ease;
		cursor: pointer;
	}

	.define:hover
	{
		color: blue;

	}

	#contractInfoBox
	{
		background-color: white;
		border-color: black;
		border-style: solid;
		border-radius: 2.5em;
		border-width: 5px;
		position: fixed;
		width: 10em;
		height: 9.7em;
		right: 5em;
		top: 40em;
	}

	#infoBox
	{
		opacity: 0;
		background: white;
		border-style: solid;
		border-color: black;
		transition: 300ms ease;
		width: 20em;
		position: fixed;
	}

	#infoBoxText
	{
		font-size: 15px;
		margin: 10px;
		opacity: 1;
		transition: 300ms ease;
	}

/*********************************************************************************/
/* CSS BUTTONS                                                                   */
/*********************************************************************************/

	.onoffswitch
	{
		position: fixed; width: 56px;
		display: inline;
		float: right;
		-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
		
	}

	.onoffswitch-checkbox
	{
		display: none;
	}

	.onoffswitch-label
	{
		z-index: 2;
		display: block; overflow: hidden; cursor: pointer;
		height: 27px; padding: 0; line-height: 27px; 
		border: 2px solid #dedede; border-radius: 27px;
		margin-top: -1.5px;
		background-color: #dedede;
		transition: background-color 0.3s ease-in;
	}

	.onoffswitch-label:before
	{
		content: "";
		display: block; width: 27px;
		background: #FFFFFF;
		position: fixed; margin-top: -1.5px;
		height: 27px;
		border: 2px solid #dedede; border-radius: 27px;
		transition: all 0.3s ease-in 0s; 
	}

	.onoffswitch-checkbox:checked + .onoffswitch-label
	{
		background-color: #00FFFF;
		margin-top: -1.5px;
	}

	.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before
	{
	border-color: #00FFFF;
	margin-top: -1.5px;
	}

	.onoffswitch-checkbox:checked + .onoffswitch-label:before
	{
		margin-left: 20px;
		
	}

	#buttonLabel 
	{
		float: left;
		width: 10px;
		margin-left: 12px;
		margin-top: 2px;
		margin-right: auto;
	}

/*********************************************************************************/
/* COLOURED BLOCKS                                                               */
/*********************************************************************************/

	.red
	{
		display: inline-block;
		background-color: red;
		width: 12px;
		height: 12px;
		margin-right: 12px;
		border-style: solid;
		border-color: black;
		border-width: 2px;
	}
	
	.blue
	{
		display: inline-block;
		background-color: blue;
		width: 12px;
		height: 12px;
		margin-right: 12px;
		border-style: solid;
		border-color: black;
		border-width: 2px;
	}
	
	.pink
	{
		display: inline-block;
		background-color: pink;
		width: 12px;
		height: 12px;
		margin-right: 12px;
		border-style: solid;
		border-color: black;
		border-width: 2px;
	}
	
	.orange
	{
		display: inline-block;
		background-color: orange;
		width: 12px;
		height: 12px;
		margin-right: 12px;
		border-style: solid;
		border-color: black;
		border-width: 2px;
	}
	
	.purple
	{
		display: inline-block;
		background-color: purple;
		width: 12px;
		height: 12px;
		margin-right: 12px;
		border-style: solid;
		border-color: black;
		border-width: 2px;
	}
	
	.yellow
	{
		display: inline-block;
		background-color: yellow;
		width: 12px;
		height: 12px;
		margin-right: 12px;
		border-style: solid;
		border-color: black;
		border-width: 2px;
	}
	
	.white
	{
		display: inline-block;
		background-color: white;
		width: 12px;
		height: 12px;
		margin-right: 12px;
		border-style: solid;
		border-color: black;
		border-width: 2px;
	}

	.black
	{
		display: inline-block;
		background-color: black;
		width: 12px;
		height: 12px;
		margin-right: 12px;
		border-style: solid;
		border-color: black;
		border-width: 2px;
	}

	.green
	{
		display: inline-block;
		background-color: green;
		width: 12px;
		height: 12px;
		margin-right: 12px;
		border-style: solid;
		border-color: black;
		border-width: 2px;
	}